<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congrats</title>
<!--    <audio src="4186743232.mp3" type="audio/mpeg" controls>-->
<!--    <source src="Home/PycharmProjects/Server/audio/wow.ogg">-->
<!--    <source src="Home/PycharmProjects/Server/audio/wow.mp3">-->
    </audio>
</head>
<style>
txt {
    text-align: center;
    color: black;
  }
img {
    margin-left: 100px;
    }
</style>
<body>
    <txt>
        <h1>我操。 Congratulation。 This is a correct number 〠</h1>
    </txt>

    <img>
    <IMG SRC="https://media1.tenor.com/images/760352d5cbf1770fc04c8f0cdd48a064/tenor.gif" width=1500/>
    </img>
</body>
</html>